.checked{
	text-decoration: line-through;
	color: red;

}
body{
	cursor: default;
	text-shadow: unset;
	margin: 50px;
	font-family: sans-serif;
	background-color: #c8fae4;
	position: absolute;
	top: 10%;
	left: 30%;
	right: 30%;
	border-style: double;
	min-width: 350px;
	min-height: 300px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 50px;
	
}

#todo{
	border-color: #000000;
	border-style: solid;
	border-radius: 5px;
	width: 75%;

}
